:root {
    --bg: #070707;
    --bg2: #161616;
    --theme: #d7d7d7;
}
body {
    background: var(--bg);
    overflow: hidden;
}
.background {
    position: absolute;
    background: transparent;
    height: 100%;
    aspect-ratio: 16 / 9;
    left: 50%;
    translate: -50%;
    top: 0;
}
#block {
    position: absolute;
    background: var(--bg2);
    border-radius: 1vmax;
}
.box1 {
    height: calc(33.3% - 1vmax);
    width: calc(25% - 0.125vmax);
    top: 1vmax;
    left: 1vmax;
}
.box2 {
    height: calc(33.3% - 1vmax);
    width: calc(25% - 0.125vmax);
    top: calc(33.3% + 0.5vmax);
    left: 1vmax;
}
.box3 {
    height: calc(33.3% - 1vmax);
    width: calc(25% - 0.125vmax);
    bottom: 1vmax;
    left: 1vmax;
}

.box4 {
    height: calc(16.65% - 0.8vmax);
    width: calc(25% - 0.125vmax);
    top: 1vmax;
    left: calc(25% + 1.35vmax);
}
.box5 {
    height: calc(16.65% - 0.8vmax);
    width: calc(25% - 0.125vmax);
    top: calc(65% + 1vmax);
    left: calc(25% + 1.35vmax);
}
.box6 {
    height: calc(16.65% - 0.8vmax);
    width: calc(25% - 0.125vmax);
    bottom: 1vmax;
    left: calc(25% + 1.35vmax);
}

.box7 {
    height: calc(16.65% - 0.8vmax);
    width: calc(25% - 0.125vmax);
    top: 1vmax;
    left: calc(50% + 1.7vmax);
}
.box8 {
    height: calc(50% - 1.2vmax);
    width: calc(50% + 0.2vmax);
    top: calc(16% + 1vmax);
    left: calc(25% + 1.35vmax);
}
.box9 {
    height: calc(33.3% - 1vmax);
    width: calc(25% - 0.125vmax);
    bottom: 1vmax;
    left: calc(50% + 1.7vmax);
}

.box11 {
    height: calc(16.65% - 0.8vmax);
    width: calc(22% - 0.075vmax);
    bottom: 1vmax;
    right: 1vmax;
}
.box12 {
    height: calc(16.65% - 0.8vmax);
    width: calc(22% - 0.075vmax);
    top: calc(65% + 1vmax);
    right: 1vmax;
}
.box10 {
    height: calc(65% - 0.6vmax);
    width: calc(22% - 0.075vmax);
    top: 1vmax;
    right: 1vmax;
}





.box11 > img {
    position: absolute;
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 1vmax;
    top: 10%;
    left: calc(50% - 46%);
}