@media only screen and (max-width: 1770px) {
    .timeme {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 1100px) {
    .profilepicture, .profilepicture2 {
        left: calc(50% - 125px);
        scale: 1.5;
        top: 300px;
    }
    .main {
        top: 500px;
        height: calc(100% - 500px - 25px);
    }
    .profilemain {
        height: 300px;
    }
    .tags {
        width: calc(100% - 30px);
        height: 145px;
        left: 15px;
        top: 440px;
        border-radius: 25px;
        background-color: var(--bg2);
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.7);
    }
    .username {
        top: 100px;
        scale: 1.3;
    }
    .about {
        width: calc(100% - 30px);
        top: 315px;
        height: 110px;
    }
    .aboutmetext {
        top: 50px;
    }
    .status {
        width: calc(100% - 30px);
        top: 600px;
    }
    .modify {
        scale: 2;
        top: 35px;
        right: 35px;
    }
}