#highlight {
    color: var(--pri);
    background: var(--sec);
    border-radius: 0.25vmax;
    padding-left: 0.25vmax;
    padding-right: 0.25vmax;
    text-decoration: none;
    cursor: none;
}

#errorevent {
    color: var(--txt);
    background: var(--bg2);
    position: fixed;
    backdrop-filter: blur(25px);
    font-size: 0.75vmax;
    font-family: poppins,sans-serif;
    left: 50%;
    top: 50%;
    white-space: nowrap;
    translate: -50% 25%;
    border-radius: 0.25vmax;
    box-shadow: 0px -0.1vmax 0px 0px var(--pri);
    opacity: 0;
    padding-top: 0.25vmax;
    padding-bottom: 0.25vmax;
    padding-left: 0.5vmax;
    padding-right: 0.5vmax;

    pointer-events: none;
    z-index: 10000;

    transition: background-color 0.3s ease, opacity 1s ease;
}

#red {
    color: #ff3939;
}
#orange {
    color: #ffa446;
}
#yellow {
    color: #f8ec68;
}
#green {
    color: #77f868;
}
#lblue {
    color: #68c6f8;
}
#dblue {
    color: #4960ff;
}
#purple {
    color: #7949fd;
}