@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}
@keyframes status {
    from {
        scale: 0.5;
        opacity: 0.65;
    }
    85% {
        scale: 1.1;
        opacity: 0;
    }
    to {
        scale: 1.1;
        opacity: 0;
    }
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--bg);
    height: 500vh;
    margin: 0rem;
    overflow-x: hidden;
    cursor: none;
}
* {
    cursor: none;
}
@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

#jerry {
    background-color: white;
    height: 1vmax;
    aspect-ratio: 1;
    position: fixed;
    backdrop-filter: blur(25px);
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotate 20s infinite;
    opacity: 0.5;

pointer-events: none;
z-index: 10000;

    transition: background-color 0.3s ease, transform 1s ease;
}
#fatjerry {
    background: linear-gradient(to right, var(--pri), var(--acc));
    height: 25vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotate 15s infinite linear;
    opacity: 0.4;
    transform: scaleX(1.2);

    pointer-events: none;
    z-index: 1;

    transition: background-color 0.3s ease, transform 1s ease;
}
#blurjerry {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;

    backdrop-filter: blur(9vmax);
    z-index: 2;
}

body::-webkit-scrollbar {
    width: 0vmax;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--out);
    border-radius: 50vmax;

    transition: background-color 0.3s ease;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--pri);
    transition: background-color 0.3s ease;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
::selection {
    background-color: var(--sec);
    color: var(--acc);
}

.nav {
    position: fixed;
    background-color: rgba(10,10,10,0.1);
    height: 4.5vmax;
    width: 98.6vmax;
    z-index: 100;

    border-radius: 0.5vmax;

    backdrop-filter: blur(25px);;

    left: 0.7vmax;
    top: 0.7vmax;
    box-shadow: 0px 0px 0px 0.1vmax var(--out);
    
}
.navimg {
    position: absolute;
    height: 100%;
    scale: 0.8;
    filter: invert(44%) sepia(89%) saturate(1879%) hue-rotate(204deg) brightness(100%) contrast(96%);

    transition: scale 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.navimg:hover {
    scale: 0.87;
}
.server, .client, .forum, .services {
    position: absolute;
    display: flex;
    color: var(--txt);
    border-radius: 0.5vmax;
    padding-left: 0.5vmax;
    padding-right: 0.5vmax;
    padding-top: 0.25vmax;
    padding-bottom: 0.25vmax;

    font-family: poppins,sans-serif;
    font-size: 1vmax;

    top: 0.5vmax;
    margin-left: 5vmax;

    transition: scale 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), color 0.1s ease, background-color 1s ease;
}
.client {
    margin-left: 10.3vmax;
}
.forum {
    margin-left: 15.6vmax;
}
.services {
    margin-left: 21.9vmax;
}
.server:hover, .client:hover, .forum:hover, .services:hover {
    transition: scale 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), color 0.1s ease, background-color 0.3s ease;
    scale: 1.2;
    color: var(--pri);
    background-color: var(--sec);
}

.shop, .faq, .contact, .about {
    position: absolute;
    border-radius: 0.5vmax;
    padding: 0.5vmax;

    right: 0.8vmax;
    top: calc(50% - 1.2vmax);
    height: 1.5vmax;
    aspect-ratio: 1/1;

    transition: scale 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), background-color 1s ease;
}
.shop > img, .faq > img, .contact > img, .about > img {
    height: 100%;
}
.faq {
    right: 4.0vmax;
}
.contact {
    right: 7.2vmax;
}
.about {
    right: 10.4vmax;
}
.shop:hover, .faq:hover, .contact:hover, .about:hover {
    transition: scale 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), background-color 0.3s ease;
    scale: 1.2;
    background-color: var(--sec);
}
.shop:hover > img, .faq:hover > img, .contact:hover > img, .about:hover > img {
    filter: invert(44%) sepia(89%) saturate(1879%) hue-rotate(204deg) brightness(100%) contrast(96%);
}
.sec1 {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 30vmax;
    z-index: 99;

    top: calc(50% - 15vmax);

    align-content: center;
    place-items: center;
    display: grid;
}
.titledec {
    background-color: var(--sec);
    margin-top: 0vmax;
    border-radius: 1vmax;
}
.title1 {
    font-family: gabarito,sans-serif;
    text-align: center;
    color: var(--pri);
    letter-spacing: 1.4px;

    padding-left: 2vmax;
    padding-right: 2vmax;
    font-size: 10vmax;
    border-radius: 1vmax;
    margin: 0px;

    transition: background-color 0.3s ease;
}
.description1 {
    text-align: center;
    font-family: poppins,sans-serif;
    color: var(--txt);

    padding-left: 2vmax;
    padding-right: 2vmax;
    font-size: 2vmax;
    border-radius: 1vmax;

    margin-top: 0vmax;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.sec2 {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99;

    top: calc(100%);
}
.grid2 {
    position: absolute;
    background-color: transparent;
    width: 90vmax;
    height: 40vmax;

    top: calc(50% - 20vmax);
    left: calc(50% - 45vmax);
}
.server2, .client2, .forums2, .services2 {
    position: absolute;
    background-color: rgba(10,10,10,0.75);
    box-shadow: 0px 0px 0px 0.1vmax var(--out);
    overflow: hidden;

    width: calc(33.3% - 1.5vmax);
    height: calc(50% - 1.5vmax);
    border-radius: 1vmax;

    transition: box-shadow 0.3s ease, scale 0.5s ease;
}
.server2 {
    top: 1vmax;
    left: 1vmax;
}
.client2 {
    top: 1vmax;
    left: calc(33.3% + 0.5vmax);
}
.forums2 {
    bottom: 1vmax;
    left: 1vmax;
}
.services2 {
    bottom: 1vmax;
    left: calc(33.3% + 0.5vmax);
}
.grid2title {
    position: absolute;
    color: var(--pri);
    opacity: 1;
    font-family: gabarito,sans-serif;
    font-size: 2.5vmax;
    letter-spacing: 2px;

    left: 2.5vmax;
}
.grid2desc {
    position: absolute;
    color: var(--txt);
    opacity: 1;
    width: calc(100% - 5vmax);
    font-family: poppins,sans-serif;
    font-size: 1vmax;
    letter-spacing: 0.5px;

    left: 2.5vmax;
    top: 5vmax;
}
.store2, .faq2, .support2 {
    position: absolute;
    background-color: rgba(10,10,10,0.75);
    box-shadow: 0px 0px 0px 0.1vmax var(--out);
    overflow: hidden;

    width: calc(33.3% - 1vmax);
    height: calc(33.3% - 1.5vmax);
    border-radius: 1vmax;

    transition: box-shadow 0.3s ease, scale 0.5s ease;
}
.store2 {
    top: 1vmax;
    right: 1vmax;
}
.faq2 {
    top: calc(33.3% + 0.75vmax);
    right: 1vmax;
}
.support2 {
    top: calc(66.6% + 0.5vmax);
    right: 1vmax;
}

.server2:hover, .client2:hover, .forums2:hover, .services2:hover, .store2:hover, .faq2:hover, .support2:hover {
    box-shadow: 0px 0px 0px 0.25vmax var(--pri);
    scale: 0.98;
}
.server2:hover > .grid2img, .client2:hover > .grid2img, .forums2:hover > .grid2img, .services2:hover > .grid2img, .store2:hover > .grid2img, .faq2:hover > .grid2img, .support2:hover > .grid2img {
    scale: 5;
}
.grid2img {
    position: absolute;
    opacity: 0.1;
    scale: 3.5;

    bottom: 0px;
    right: 0px;
    filter: invert(44%) sepia(89%) saturate(1879%) hue-rotate(204deg) brightness(100%) contrast(96%);

    transition: scale 0.5s ease;
}

.screen3 {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99;

    top: calc(200%);
}
.sec3 {
    position: absolute;
    background-color: transparent;
    scale: 0.8;
    width: 110vmax;
    height: 53vmax;

    top: 50%;
    left: calc(50%);
    translate: -50% -50%;

    z-index: 99;
}
.sec3dec {
    position: absolute;
    background-color: var(--bg2);
    box-shadow: 0px 0px 0px 0.1vmax var(--out);
    width: 100%;
    height: 3.5vmax;

    border-radius: 1vmax;

    top: 0px;
}
.sec3title {
    position: absolute;
    color: var(--pri);
    opacity: 1;
    font-family: gabarito,sans-serif;
    font-size: 1.75vmax;
    letter-spacing: 0.8px;

    left: 1vmax;
    top: -0.5vmax;
}
.change1, .change2, .change3, .change4, .change5, .change6 {
    position: absolute;
    background-color: var(--bg2);
    box-shadow: 0px 0px 0px 0.1vmax var(--out);
    width: calc(33.3% - 0.6vmax);
    aspect-ratio: 15 / 6.5;
    border-radius: 1vmax;
    overflow: hidden;

    transition: scale 0.3s ease, box-shadow 0.3s ease;
}
.change1 {
    top: 4.3vmax;
    left: 0px;
}
.change2 {
    top: 4.3vmax;
    left: calc(33.3% + 0.3vmax);
}
.change3 {
    top: 4.3vmax;
    left: calc(66.6% + 0.6vmax);
}
.change4 {
    top: 20.8vmax;
    left: calc(66.6% + 0.6vmax);
}
.change5 {
    width: calc(66.6% - 0.3vmax);
    top: 20.8vmax;
    left: 0px;
}
.change6 {
    top: 37.3vmax;
    left: calc(66.6% + 0.6vmax);
    aspect-ratio: 15 / 1.6;
}

.change1 > img,
.change2 > img,
.change3 > img,
.change4 > img,
.change5 > img,
.change6 > img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0.3;

    transition: scale 0.3s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.3s ease;
}

.change1 > .changetext,
.change2 > .changetext,
.change3 > .changetext,
.change4 > .changetext,
.change5 > .changetext,
.change6 > .changetext {
    position: absolute;
    color: var(--txt);
    background-color: transparent;
    font-family: gabarito,sans-serif;
    font-size: 1.5vmax;
    z-index: 2;
    border-radius: 1vmax;
    padding-left: 0.5vmax;
    padding-right: 0.5vmax;
    padding-top: 0.4vmax;
    padding-bottom: 0.4vmax;

    left: 1vmax;

    transition: color 0.3s ease, background-color 0.3s ease;
}
.change1 > .changedesc,
.change2 > .changedesc,
.change3 > .changedesc,
.change4 > .changedesc,
.change5 > .changedesc,
.change6 > .changedesc {
    position: absolute;
    background-color: rgba(10,10,10,0.4);
    width: calc(50% - 1vmax);
    color: var(--txt);
    border-radius: 1vmax;
    font-family: poppins,sans-serif;
    font-size: calc(0.75vmax);
    letter-spacing: 0.5px;
    left: 0.5vmax;
    opacity: 0;
    padding-left: 1vmax;
    padding-right: 1vmax;
    padding-top: 0.5vmax;
    padding-bottom: 0.5vmax;

    backdrop-filter: blur(0.5vmax);

    top: 4vmax;
    left: 1vmax;

    z-index: 2;
    transition: top 1s ease, opacity 0.5s ease;
}
.change1 > .changedate,
.change2 > .changedate,
.change3 > .changedate,
.change4 > .changedate,
.change5 > .changedate,
.change6 > .changedate {
    position: absolute;
    background-color: rgba(10,10,10,0.4);
    color: var(--txt);
    border-radius: 1vmax;
    font-family: poppins,sans-serif;
    font-size: calc(0.89vmax);
    letter-spacing: 0.5px;
    opacity: 0.3;
    padding-left: 1vmax;
    padding-right: 1vmax;
    padding-top: 0.5vmax;
    padding-bottom: 0.5vmax;

    backdrop-filter: blur(0.5vmax);

    bottom: 0.2vmax;
    left: 1vmax;

    z-index: 2;
    transition: top 1s ease, opacity 0.5s ease;
}
.change1:hover,
.change2:hover,
.change3:hover,
.change4:hover,
.change5:hover,
.change6:hover {
    scale: 1.0;
    box-shadow: 0px 0px 0px 0.1vmax var(--pri);
}
.change1:hover > img,
.change2:hover > img,
.change3:hover > img,
.change4:hover > img,
.change5:hover > img,
.change6:hover > img {
    scale: 1.05;
    opacity: 0.7;
}
.change1:hover > .changedesc,
.change2:hover > .changedesc,
.change3:hover > .changedesc,
.change4:hover > .changedesc,
.change5:hover > .changedesc {
    top: 3.5vmax;
    opacity: 1;
}
.change1:hover > .changedate,
.change2:hover > .changedate,
.change3:hover > .changedate,
.change4:hover > .changedate,
.change5:hover > .changedate {
    opacity: 1;
}
.change1:hover > .changetext,
.change2:hover > .changetext,
.change3:hover > .changetext,
.change4:hover > .changetext,
.change5:hover > .changetext,
.change6:hover > .changetext {
    color: var(--pri);
    background-color: var(--sec);
}
.changetext2 {
    position: absolute;
    color: var(--pri);
    background-color: transparent;
    font-family: gabarito,sans-serif;
    font-size: 2vmax;
    z-index: 2;
    border-radius: 1vmax;
    padding-left: 0.5vmax;
    padding-right: 0.5vmax;
    padding-top: 0.4vmax;
    padding-bottom: 0.4vmax;
    top: -25%;

    left: 1vmax;

    transition: color 0.3s ease, background-color 0.3s ease;
}


.screen4 {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99;

    top: calc(300%);
}
.sec4 {
    position: absolute;
    background-color: transparent;
    scale: 0.8;
    width: 110vmax;
    height: 35vmax;

    top: calc(50%);
    left: calc(50%);
    translate: -50% -50%;

    z-index: 99;
}
.titledec4 {
    position: absolute;
    background-color: var(--bg2);
    box-shadow: 0px 0px 0px 0.1vmax var(--out);
    width: 30%;
    height: 3.5vmax;

    border-radius: 1vmax;

    top: 0px;
}
.title4 {
    position: absolute;
    color: var(--pri);
    opacity: 1;
    font-family: gabarito,sans-serif;
    font-size: 1.75vmax;
    letter-spacing: 0.8px;

    left: 1vmax;
    top: -0.5vmax;
}
.server4, .client4, .forums4, .services4 {
    position: absolute;
    background: var(--bg2);
    box-shadow: 0px 0px 0px 0.1vmax var(--out);
    width: calc(25% - 1vmax);
    height: calc(100% - 4.5vmax);
    bottom: 0vmax;
    border-radius: 1vmax;
}
.client4 {
    left: calc(25% + 0.33vmax);
}
.forums4 {
    left: calc(50% + 0.66vmax);
}
.services4 {
    left: calc(75% + 1vmax);
}
.statustitle {
    position: absolute;
    color: var(--pri);
    font-family: gabarito,sans-serif;
    font-size: 3vmax;
    left: 2vmax;
    top: -0.75vmax;
    letter-spacing: -0.4px;
}
.statuslist {
    position: absolute;
    background: var(--bg);
    width: calc(100% - 2vmax);
    height: calc(100% - 7vmax);
    bottom: 1vmax;
    left: 1vmax;
    border-radius: 1vmax;
}

.serverlist1, .serverlist2, .serverlist3, .clientlist1, .clientlist2, .clientlist3, .clientlist4, .forumslist1, .serviceslist1 {
    position: absolute;
    background: var(--bg1);
    border-radius: 50vmax;
    width: calc(100% - 2vmax);
    height: calc(15% - 0.15vmax);
}
.serverlist1, .clientlist1, .forumslist1, .serviceslist1 {
    top: 1vmax;
    left: 1vmax;
}
.serverlist2, .clientlist2 {
    top: 6vmax;
    left: 1vmax;
}
.serverlist3, .clientlist3 {
    top: 10vmax;
    left: 1vmax;
}
.serverlist4, .clientlist4 {
    top: 14vmax;
    left: 1vmax;
}
.serverdec {
    position: absolute;
    background: #ff3939;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;
    scale: 0.5;
}
.serverdecan {
    position: absolute;
    background: #ff3939;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;

    animation: status 2s infinite linear;
}
.servertext {
    position: absolute;
    color: #ff3939;
    font-family: poppins,sans-serif;
    font-size: 1vmax;
    left: 3vmax;
    top: 0.25vmax;
    letter-spacing: 1.4px;
}
.serverdec2 {
    position: absolute;
    background: #ff3939;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;
    scale: 0.5;
}
.servertext2 {
    position: absolute;
    color: #ff3939;
    font-family: poppins,sans-serif;
    font-size: 1vmax;
    left: 3vmax;
    top: 0.25vmax;
    letter-spacing: 1.4px;
}
.serverdec3 {
    position: absolute;
    background: #ff3939;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;
    scale: 0.5;
}
.servertext3 {
    position: absolute;
    color: #ff3939;
    font-family: poppins,sans-serif;
    font-size: 1vmax;
    left: 3vmax;
    top: 0.25vmax;
    letter-spacing: 1.4px;
}
.seplist {
    position: absolute;
    background: var(--out);
    height: 0.07vmax;
    width: calc(100% - 1vmax);
    top: 5vmax;
    left: 0.5vmax;
}

.clientdec {
    position: absolute;
    background: #77f868;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;
    scale: 0.5;
}
.clientdecan {
    position: absolute;
    background: #77f868;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;

    animation: status 2s infinite linear;
}
.clienttext {
    position: absolute;
    color: #77f868;
    font-family: poppins,sans-serif;
    font-size: 1vmax;
    left: 3vmax;
    top: 0.25vmax;
    letter-spacing: 1.4px;
}
.clientdec2 {
    position: absolute;
    background: #ff3939;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;
    scale: 0.5;
}
.clienttext2 {
    position: absolute;
    color: #ff3939;
    font-family: poppins,sans-serif;
    font-size: 1vmax;
    left: 3vmax;
    top: 0.25vmax;
    letter-spacing: 1.4px;
}
.clientdec3 {
    position: absolute;
    background: #77f868;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;
    scale: 0.5;
}
.clienttext3 {
    position: absolute;
    color: #77f868;
    font-family: poppins,sans-serif;
    font-size: 1vmax;
    left: 3vmax;
    top: 0.25vmax;
    letter-spacing: 1.4px;

}
.clientdec4 {
    position: absolute;
    background: #77f868;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;
    scale: 0.5;
}
.clienttext4 {
    position: absolute;
    color: #77f868;
    font-family: poppins,sans-serif;
    font-size: 1vmax;
    left: 3vmax;
    top: 0.25vmax;
    letter-spacing: 1.4px;
}


.forumsdec {
    position: absolute;
    background: #ffa446;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;
    scale: 0.5;
}
.forumstext {
    position: absolute;
    color: #ffa446;
    font-family: poppins,sans-serif;
    font-size: 1vmax;
    left: 3vmax;
    top: 0.25vmax;
    letter-spacing: 1.4px;
}
.forumsdecan {
    position: absolute;
    background: #ffa446;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;

    animation: status 2s infinite linear;
}
.servicesdec {
    position: absolute;
    background: #ffa446;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;
    scale: 0.5;
}
.servicestext {
    position: absolute;
    color: #ffa446;
    font-family: poppins,sans-serif;
    font-size: 1vmax;
    left: 3vmax;
    top: 0.25vmax;
    letter-spacing: 1.4px;
}
.servicesdecan {
    position: absolute;
    background: #ffa446;
    border-radius: 1vmax;
    height: 1.5vmax;
    top: 0.85vmax;
    left: 0.75vmax;
    aspect-ratio: 1 / 1;

    animation: status 2s infinite linear;
}



.screen5 {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99;

    top: calc(400%);
}
.sec5 {
    position: absolute;
    background-color: transparent;
    width: 90vmax;
    height: 30vmax;
    z-index: 99;
    left: calc(50%);

    top: calc(50%);
    translate: -50% -50%;
}
.formbox {
    position: absolute;
    box-shadow: 0px 0px 0px 0.1vmax var(--out);
    background: var(--bg2);
    border-radius: 1vmax;
    height: 100%;
    width: calc(33.3% - 1.33vmax);
}
.formtitle, .faqtitle {
    position: absolute;
    color: var(--pri);
    font-family: gabarito,sans-serif;
    font-size: 1.5vmax;
    left: 1vmax;
    top: 0vmax;
    letter-spacing: -0.4px;
}


.formusername, .formpassword, .formproblem {
    position: absolute;
    background: var(--bg);
    box-shadow: 0vmax 0px 0px -1px var(--pri);
    border-radius: 0.5vmax;
    outline: 0;
    height: 2vmax;
    border: 0px solid;

    font-family: poppins,sans-serif;
    font-size: 1vmax;
    padding-left: 1vmax;
    color: var(--txt);

    transition: box-shadow 0.5s ease;
}
.formusername {
    top: 3.5vmax;
    left: 1vmax;
    width: calc(50% - 2.5vmax);
}
.formpassword {
    top: 3.5vmax;
    right: 1vmax;
    width: calc(50% - 2.5vmax);
}
.formproblem {
    top: 6.5vmax;
    left: 1vmax;
    width: calc(100% - 4vmax);
    height: calc(100% - 10vmax);

    padding-right: 1vmax;
    padding-top: 0.5vmax;
    resize: none;
}
.formusername:focus, .formpassword:focus, .formproblem:focus {
    outline: 0;
    box-shadow: -0.2vmax 0px 0px -1px var(--pri);
}
.formbutton {
    position: absolute;
    background: var(--bg);
    border-radius: 0.5vmax;
    box-shadow: 0px 0px 0px 0.1vmax var(--out);
    color: var(--pri);
    height: 2vmax;
    border: 0px solid;
    font-family: poppins,sans-serif;
    font-size: 0.75vmax;
    padding-left: 0.5vmax;
    padding-right: 0.5vmax;

    left: 1vmax;
    bottom: 0.5001vmax;

    transition: box-shadow 0.3s ease, scale 0.3s ease, margin-bottom 0.3s ease;
}
.formbutton:hover {
    box-shadow: 0px 0.2vmax 0vmax -1px var(--pri);
    margin-bottom: 0.2vmax;
}
.formdesc {
    position: absolute;
    text-align: right;
    color: var(--txt);
    opacity: 0.25;
    font-family: poppins,sans-serif;
    font-size: 0.6vmax;
    right: 1vmax;
    top: 0vmax;
    letter-spacing: -0.4px;
}
.faqbox {
    position: absolute;
    box-shadow: 0px 0px 0px 0.1vmax var(--out);
    background: var(--bg2);
    border-radius: 1vmax;
    height: 100%;
    width: calc(66.6% - 0.5vmax);
    right: 0px;
}
.faqbox1, .faqbox2, .faqbox3, .faqbox4, .faqbox5, .faqbox6 {
    position: absolute;
    box-shadow: 0px 0px 0px 0.1vmax var(--out);
    background: var(--bg);
    border-radius: 1vmax;
    opacity: 0;
    height: 8vmax;
    width: calc(50% - 1.25vmax);

    transition: box-shadow 0.3s ease;
}
.faqbox1 {
    opacity: 1;
    top: 4vmax;
    left: 1vmax;
}
.faqbox2 {
    opacity: 1;
    top: 4vmax;
    right: 1vmax;
}
.faqbox3 {
    opacity: 1;
    top: 12.5vmax;
    left: 1vmax;
}
.faqbox4 {
    opacity: 1;
    top: 12.5vmax;
    right: 1vmax;
}
.faqbox5 {
    opacity: 1;
    top: 21vmax;
    left: 1vmax;
}
.faqbox6 {
    opacity: 1;
    top: 21vmax;
    right: 1vmax;
}
.faqtitle1, .faqtitle2, .faqtitle3, .faqtitle4, .faqtitle5, .faqtitle6 {
    position: absolute;
    color: var(--txt);
    font-family: gabarito,sans-serif;
    font-size: 1.5vmax;
    border-radius: 1vmax;
    opacity: 0.5;

    left: 2vmax;
    top: 0.5vmax;
}
.faqdetail {
    position: absolute;
    background: var(--bg1);
    border-radius: 1vmax;
    height: 2vmax;
    width: calc(100% - 2vmax);

    bottom: 1vmax;
    left: 1vmax;
}
.faqdetaildesc {
    position: absolute;
    color: var(--out);
    font-family: poppins,sans-serif;
    font-size: 0.75vmax;
    left: 1vmax;
}
.faqdetailduration {
    position: absolute;
    color: var(--txt);
    opacity: 0.35;
    font-family: poppins,sans-serif;
    font-size: 0.75vmax;
    right: 1vmax;
}
.faqexit {
    position: absolute;
    background: var(--bg);
    box-shadow: 0px 0px 0px 0.1vmax var(--out);
    border-radius: 1vmax;
    height: 2.5vmax;
    aspect-ratio: 1 / 1;
    top: 0.75vmax;
    right: 1vmax;

    opacity: 0;

    transition: box-shadow 0.3s ease, background 0.3s ease;

}
.squirm, .squirm2 {
    position: absolute;
    background: var(--txt);
    border-radius: 1vmax;
    height: 50%;
    width: 0.2vmax;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    transition: height 0.7s ease;
}
.squirm {
    rotate: 45deg;
}
.squirm2 {
    rotate: -45deg;
}
.faqexit:hover {
    background: #ff3939;
    box-shadow: 0px 0px 0px 0.1vmax #a92323;
}
.faqexit:hover .squirm, .faqexit:hover .squirm2 {
    height: 70%;
}
.faqdesc1, .faqdesc2, .faqdesc3, .faqdesc4, .faqdesc5, .faqdesc6 {
    position: absolute;
    color: var(--txt);
    font-family: poppins,sans-serif;
    width: 75%;
    font-size: 0.75vmax;
    left: 2vmax;
    top: 4vmax;
    pointer-events: none;

    opacity: 0;
}

.faqbox1:hover, .faqbox2:hover, .faqbox3:hover, .faqbox4:hover, .faqbox5:hover, .faqbox6:hover {
    box-shadow: 0px 0px 0px 0.1vmax var(--pri);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--out);
}